<%= form_for press_release, :html => { :class => "press_release" } do |f| %>
  <h2>Add a Press Release</h2>

  <div class="errors">
    <%= press_release.errors.full_messages if press_release.errors.any? %>
  </div>
  
  <%= f.hidden_field :user_id, :value => current_user.id %>
  
  <div class="title">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  
  <div class="released_on">
    <%= f.label :released_on %>
    <%= f.text_field :released_on %>
  </div>
  
  <div class="actions">
    <%= f.submit "Save" %>
  </div>
<% end %>