<table class="press_releases">
  <thead>
    <th class="title">Title</th>
    <th class="released_on">Released On</th>
    <th class="tags">Tags</th>
  </thead>
  <tbody>
    <tr class="filters">
      <td class="title"><%= text_field_tag :title, nil, :placeholder => "All Press Releases" %></td>
      <td class="released_on">
        <%= text_field_tag :start_on, PressRelease.earliest.released_on.to_s(:db), :class => "start_on" %> -
        <%= text_field_tag :end_on, PressRelease.latest.released_on.to_s(:db), :class => "end_on" %>
      </td>
      <td class="tags"><%= text_field_tag :tags, nil, :placeholder => "All Tags" %></td>
    </tr>
    <% @press_releases.each do |press_release| %>
    <tr class="<%= cycle :even, :odd %>">
      <td><%= link_to press_release.title, edit_press_release_path(press_release) %></td>
      <td><%= press_release.released_on.to_s(:db) %></td>
      <td><%= "foo, bar, baz" %></td>
    </tr>
    <% end %>
  </tbody>
</table>