<div class="left">
  <h3><strong><%= @press_release.title %></strong></h3>
  <br /><br />


  <% if @press_release.hits.any? %>
    <h4>Recent Media Hits</h4>
    <table class="hits">
      <thead>
        <th class="title">Title</th>
        <th class="details">Details</th>
      </thead>
      <tbody>
        <% @press_release.hits.most_recent.each do |hit| %>
        <tr class="<%= cycle :even, :odd %>">
          <td><%= link_to hit.title, edit_hit_path(hit) %></td>
          <td>
            <%= link_to hit.reporter.name, hit.reporter %><br />
            <%= link_to hit.chapter.name, hit.chapter %><br />
            <%= link_to hit.media_outlet.name, hit.media_outlet %><br />
            <%= hit.reported_on %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <br /><br />
    <%= link_to "See All Media Hits from this press release", hits_path("hit[press_release_id_equals]" => @press_release.id, :commit => "Search") %>
  <% else %>
    <span>No recent media hits (yet) from this press release</span>
  <% end %>
</div>

<div class="right sidebar">
  <%= render :partial => "form", :locals => { :press_release => @press_release } %>
</div>