<%= form_for hit, :html => { :class => "hit" } do |f| %>
  <% if hit.new_record? %>
    <h2>Add a Hit</h2>
  <% else %>
    <%= link_to "Delete this Hit", hit, :method => "delete", :confirm => "Are you sure?", :class => "delete" %>
    <h2>Edit this Hit</h2>
  <% end %>

  <div class="errors">
    <%= hit.errors.full_messages if hit.errors.any? %>
  </div>
  
  <div class="title">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  
  <div class="reported_on">
    <%= f.label :reported_on, "Date Reported" %>
    <%= f.text_field :reported_on, :class => "text" %>
  </div>
  
  <div class="media_outlet">
    <%= f.label :media_outlet_id %>
    <%= f.collection_select :media_outlet_id, @media_outlets, :id, :name, :include_blank => true %>
  </div>
  
  <div class="reporter">
    <%= f.label :reporter_id %>
    <%= f.collection_select :reporter_id, @reporters, :id, :name, :include_blank => true %>
  </div>
  
  <div class="content">
    <%= f.label :content %>
    <%= f.text_area :content %>
  </div>
  
  <div class="tags">
    <%= f.label :tag_list, "Tags" %>
    <%= f.text_field :tag_list, :class => "text" %>
  </div>
  
  <div class="tone">
    <%= f.label :tone %>
    <%= f.select :tone, [["Positive","positive"], ["Neutral","neutral"], ["Negative","negative"]], :include_blank => true %>
  </div>
  
  <div class="chapter">
    <%= f.label :chapter_id %>
    <%= f.collection_select :chapter_id, @chapters, :id, :name, :include_blank => true, :class => "text" %>
  </div>

  <div class="press_release">
    <%= f.label :press_release_id, "Press Release" %>
    <%= f.collection_select :press_release_id, @press_releases, :id, :title, :include_blank => true, :class => "text" %>
  </div>
  
  <div class="notes">
    <%= f.label :notes %>
    <%= f.text_area :notes %>
  </div>
  
  <div class="actions">
    <%= f.submit "Save" %>
  </div>
<% end %>