<%= form_for hit do |f| %>

  <div class="errors">
    <%= hit.errors.full_messages %>
  </div>
  
  
  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  
  <div>
    <%= f.label :reported_on %>
    <%= f.text_field :reported_on, :class => "reported_on" %>
  </div>
  
  <div>
    <%= f.label :media_outlet_id %>
    <%= f.text_field :media_outlet_id, :class => "outlet" %>
  </div>
  
  <div>
    <%= f.label :reporter_id %>
    <%= f.text_field :reporter_id, :class => "reporter" %>
  </div>
  
  <div>
    <%= f.label :content %>
    <%= f.text_area :content %>
  </div>
  
  <div>
    <%= f.label :tag_list, "Tags" %>
    <%= f.text_field :tag_list, :class => "tags" %>
  </div>
  
  <div>
    <%= f.label :tone %>
    <%= f.select :tone, [["Positive","positive"],["Neutral","neutral"],["Negative","negative"]], :include_blank => true %>
  </div>
  
  <div>
    <%= f.label :chapter_id %>
    <%= f.text_field :chapter_id, :class => "chapter" %>
  </div>
  
  <div>
    <%= f.label :notes %>
    <%= f.text_area :notes %>
  </div>
  
  <div>
    <%= link_to "cancel" %>
    <%= f.submit "Save" %>
  </div>
<% end %>