<h2>Hits</h2>

<table>
  <thead>
    <th>Title</th>
    <th>Reporter</th>
    <th>Media Outlet</th>
    <th>Chapter</th>
    <th>Reported On</th>
  </thead>
  <tbody>
    <% @hits.each do |hit| %>
    <tr>
      <td><%= link_to hit.title, edit_hit_path(hit) %></td>
      <td><%= hit.reporter.name %></td>
      <td><%= hit.media_outlet.name %></td>
      <td><%= hit.chapter.name %></td>
      <td><%= hit.reported_on %></td>
    </tr>
    <% end %>
  </tbody>
</table>