<table class="hits">
  <thead>
    <th class="title">Title</th>
    <th class="reporter">Reporter</th>
    <th class="media_outlet">Media Outlet</th>
    <th class="chapter">Chapter</th>
    <th class="reported_on">Reported On</th>
    <th class="tags"></th>
  </thead>
  <tbody>

    <%= form_for :hit, :method => :get do |f| %>
    <tr class="filters">
      <td class="title"><%= text_field_tag "hit[title_contains]", (params[:hit][:title_contains] if params[:hit]), :placeholder => "All Hits" %></td>
      <td class="reporter"><%= select_tag "hit[reporter_id_equals]", options_from_collection_for_select(reporter_options, "id", "name",  (params[:hit][:reporter_id_equals] if params[:hit])), :include_blank => true, :class => "outlet text" %></td>
      <td class="media_outlet"><%= select_tag "hit[media_outlet_id_equals]", options_from_collection_for_select(media_outlet_options, "id", "name",  (params[:hit][:media_outlet_id_equals] if params[:hit])), :include_blank => true, :class => "outlet text" %></td>
      <td class="chapter"><%= select_tag "hit[chapter_id_equals]", options_from_collection_for_select(chapter_options, "id", "name",  (params[:hit][:chapter_id_equals] if params[:hit])), :include_blank => true, :class => "outlet text" %></td>
      <td class="reported_on">
        <%= text_field_tag "hit[reported_on_greater_than_or_equal_to]",  (params[:hit][:reported_on_greater_than_or_equal_to] if params[:hit]), :class => "start_on" %> -
        <%= text_field_tag "hit[reported_on_less_than_or_equal_to]",  (params[:hit][:reported_on_less_than_or_equal_to] if params[:hit]), :class => "end_on" %>
      </td>
      <td class="tags"><%= text_field "hit[tags]", (params[:hit][:tags] if params[:hit]), :placeholder => "All Tags" %></td>
      <td class=""><%= submit_tag "Search" %></td>
    </tr>
    <% end %>

    <% @hits.each do |hit| %>
    <tr class="<%= cycle :even, :odd %>">
      <td><%= link_to hit.title, edit_hit_path(hit) %></td>
      <td><%= hit.reporter.name %></td>
      <td><%= hit.media_outlet.name %></td>
      <td><%= hit.chapter.name %></td>
      <td><%= hit.reported_on %></td>
      <td><%= hit.tag_list %></td>
    </tr>
    <% end %>

  </tbody>
</table>


<% if @hits && @hits.length == 0 %>
  <strong>
    <% if params[:hit] %>
      Sorry, no hits with those search parameters to display
    <% else %>
      Sorry, no hits currently in the system. Perhaps you would like to <%= link_to "make a hit", new_hit_path %>?
    <% end %>
  </strong>
<% end %>
