<table class="hits">
  <thead>
    <th class="title">Title</th>
    <th class="reporter">Reporter</th>
    <th class="media_outlet">Media Outlet</th>
    <th class="chapter">Chapter</th>
    <th class="reported_on">Reported On</th>
    <th class="tags" colspan="2">Tags</th>
  </thead>
  <tbody>

    <%= form_for :hit, :method => :get do |f| %>
    <tr class="filters">
      <td class="title"><%= text_field_tag "hit[title_contains]", (params[:hit][:title_contains] if params[:hit]), :placeholder => "All Hits" %></td>
      <td class="reporter"><%= select_tag "hit[reporter_id_equals]", options_from_collection_for_select(reporter_options, "id", "name",  (params[:hit][:reporter_id_equals] if params[:hit])), :include_blank => true, :class => "outlet text" %></td>
      <td class="media_outlet"><%= select_tag "hit[media_outlet_id_equals]", options_from_collection_for_select(media_outlet_options, "id", "name",  (params[:hit][:media_outlet_id_equals] if params[:hit])), :include_blank => true, :class => "outlet text" %></td>
      <td class="chapter"><%= select_tag "hit[chapter_id_equals]", options_from_collection_for_select(chapter_options, "id", "name",  (params[:hit][:chapter_id_equals] if params[:hit])), :include_blank => true, :class => "outlet text" %></td>
      <td class="reported_on">
        <%= text_field_tag "hit[reported_on_greater_than_or_equal_to]",  (params[:hit][:reported_on_greater_than_or_equal_to] if params[:hit]), :class => "start_on" %> -
        <%= text_field_tag "hit[reported_on_less_than_or_equal_to]",  (params[:hit][:reported_on_less_than_or_equal_to] if params[:hit]), :class => "end_on" %>
      </td>
      <td class="tags"><%= text_field_tag "hit[tags]", (params[:hit][:tags] if params[:hit]), :placeholder => "All Tags" %></td>
      <td class=""><%= submit_tag "Filter" %></td>
    </tr>
    <% end %>

    <% @hits.each do |hit| %>
    <tr class="<%= cycle :even, :odd %>">
      <td><%= link_to hit.title, hit_path(hit) %> </td>
      <td><%= link_to hit.reporter.name, hit.reporter %></td>
      <td><%= link_to hit.media_outlet.name, hit.media_outlet %></td>
      <td><%= link_to hit.chapter.name, hit.chapter %></td>
      <td><%= hit.reported_on %></td>
      <td colspan="2">
        <% hit.tags.each do |tag| %>
          <%= link_to tag, hits_path("hit[tags]" => tag.name, :commit => "Search") %>
        <% end %>
      </td>
    </tr>
    <% end %>

  </tbody>

</table>


<% if @hits && @hits.length == 0 %>
  <p class="missing_message"><strong>
    <% if params[:hit] %>
      Sorry, there are no media hits within those search parameters.
    <% else %>
      Sorry, there are no media hits currently in the system. Would like to <%= link_to "add one", new_hit_path %>?
    <% end %>
  </strong></p>
<% end %>


<% if @hits && @hits.length != 0 %>
  <% if current_user.admin? %>
  <p class="download"><%= link_to "Download these results (CSV)", hits_path(:format => :csv) %><br /></p>
  <% end %>
<% end %>
