<table class="hits">
  <thead>
    <th class="title">Title</th>
    <th class="reporter">Reporter</th>
    <th class="media_outlet">Media Outlet</th>
    <th class="chapter">Chapter</th>
    <th class="reported_on">Reported On</th>
    <th class="tags"></th>
  </thead>
  <tbody>

    <%= form_for :hit, :method => :get do |f| %>
    <tr class="filters">
      <td class="title"><%= f.text_field :title_contains, :placeholder => "All Hits" %></td>
      <td class="reporter"><%= f.collection_select :reporter_id_equals, reporter_options, :id, :name, :include_blank => true %></td>
      <td class="media_outlet"><%= f.collection_select :media_outlet_id_equals, media_outlet_options, :id, :name, :include_blank => true %></td>
      <td class="chapter"><%= f.collection_select :chapter_id_equals, chapter_options, :id, :name, :include_blank => true %></td>
      <td class="reported_on">
        <%= f.text_field :reported_on_greater_than_or_equal_to, :class => "start_on" %> -
        <%= f.text_field :reported_on_less_than_or_equal_to, :class => "end_on" %>
      </td>
      <td class="tags"><!--<%= f.text_field :tags, :placeholder => "All Tags" %>--></td>
      <td class=""><%= f.submit "Search" %></td>
    </tr>
    <% end %>
    <% @hits.each do |hit| %>
    <tr class="<%= cycle :even, :odd %>">
      <td><%= link_to hit.title, edit_hit_path(hit) %></td>
      <td><%= hit.reporter.name %></td>
      <td><%= hit.media_outlet.name %></td>
      <td><%= hit.chapter.name %></td>
      <td><%= hit.reported_on %></td>
      <td><%= hit.tag_list %></td>
    </tr>
    <% end %>
  </tbody>
</table>
