<div class="left">
  <h3><strong><%= @hit.title %></strong></h3>

  <div class="reported_on">
    Reported on <%= @hit.reported_on %>
  </div>

  <div class="media_outlet">
    Media Outlet: <%= @hit.media_outlet.name %>
  </div>

  <div class="reporter">
    Reporter: <%= @hit.reporter.name %>
  </div>

  <div class="author">
    Author: <%= @hit.user.name %>
  </div>

  <div class="created_at">
    Created: <%= @hit.created_at %>
  </div>

  <div class="content">
    <%= @hit.content %>
  </div>

  <div class="tags">
    <%= @hit.tags.join(", ") %>
  </div>

  <div class="tone">
    Tone: <%= @hit.tone %>
  </div>

  <div class="chapter">
    Chapter: <%= @hit.chapter.name %>
  </div>

  <div class="press_release">
    Press Release: <%= @hit.press_release.title %>
  </div>

  <div class="notes">
    Notes:<br /><%= @hit.notes %>
  </div>

</div>

<div class="right sidebar">
  <%= render :partial => "form", :locals => { :hit => @hit } %>
</div>


