<%= form_for reporter, :html => { :class => "reporter" } do |f| %>
  <% if reporter.new_record? %>
    <h2>Add a Reporter</h2>
  <% else %>
    <% if current_user.admin? %>
      <%= link_to "Delete this Reporter", reporter, :method => "delete", :confirm => "Are you sure?", :class => "delete" %>
    <% end %>
    <h2>Edit this Reporter</h2>
  <% end %>

  <div class="errors">
    <%= reporter.errors.full_messages if reporter.errors.any? %>
  </div>

  <%= f.hidden_field :user_id, :value => current_user.id %>

  <div class="name">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

    <div class="email">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>

  <div class="phone">
    <%= f.label :phone %>
    <%= f.text_field :phone %>
  </div>

  <div class="fax">
    <%= f.label :fax %>
    <%= f.text_field :fax %>
  </div>

  <div class="tags">
    <%= f.label :tag_list, "Tags" %>
    <%= f.text_field :tag_list, :class => "text" %>
  </div>

  <div class="comment">
    <%= f.label :comment %>
    <%= f.text_area :comment %>
  </div>

  <div class="actions">
    <%= f.submit "Save" %>
  </div>
<% end %>