<div class="left">
  <h3><strong><%= @reporter.name %></strong></h3>
  <br /><br />

  <ul>
    <li>Phone : <%= @reporter.phone %></li>
    <li>Email : <%= @reporter.email %></li>
    <li>Fax : <%= @reporter.fax %></li>
    <li>Comment : <%= @reporter.comment %></li>
    <li></li>
    <li>Tags :
      <% @reporter.tags.each do |tag| %>
        <%= link_to tag.name, tag_path(tag) %>
      <% end %>
    </li>
  </ul>
  <br /><br />

  <% if @reporter.hits.any? %>
    <h4>Recent Media Hits</h4>
    <table class="hits">
      <thead>
        <th class="title">Title</th>
        <th class="details">Details</th>
      </thead>
      <tbody>
        <% @reporter.hits.most_recent.each do |hit| %>
        <tr class="<%= cycle :even, :odd %>">
          <td><%= link_to hit.title, edit_hit_path(hit) %></td>
          <td>
            <%= link_to hit.media_outlet.name, hit.media_outlet %><br />
            <%= link_to hit.chapter.name, hit.chapter %><br />
            <%= link_to hit.press_release.title, hit.press_release %><br />
            <%= hit.reported_on %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <br /><br />
    <%= link_to "See All Media Hits by '#{@reporter.name}'", hits_path("hit[reporter_id_equals]" => @reporter.id, :commit => "Search") %>
  <% else %>
    <span>No recent media hits from this reporter</span>
  <% end %>
</div>

<div class="right sidebar">
  <%= render :partial => "form", :locals => { :reporter => @reporter } %>
</div>