<%= form_for user, :html => { :class => "user" } do |f| %>
  <% if user.new_record? %>
    <h2>Add a User</h2>
  <% else %>
    <h2>Edit this User</h2>
  <% end %>

  <%= user.errors.full_messages if user.errors.any? %>

  <div class="email">
    <%= f.label :email %>
    <%= f.text_field :email, :autocomplete => "off" %>
  </div>

  <div class="password">
    <%= f.label :password %>
    <%= f.password_field :password, :autocomplete => "off" %>
  </div>

  <div class="notifications">
    <%= f.label :receive_notifications, "Send me an email when a new Hit is being tracked."%>
    <%= f.check_box :receive_notifications %>
  </div>

  <div class="actions">
    <%= f.submit submit_action %>
  </div>
<% end %>
