<%= form_for user do |f| %>
  <h4>Create New User</h4>
  
  <% @user.errors.full_messages.each do |error| %>
    <%= error %><br>
  <% end %>
  
  <div>
    <%= f.label :email %><br />
    <%= f.text_field :email, :class => "email text" %>
  </div>

  <div>
    <%= f.label :password %><br />
    <%= f.password_field :password, :class => "password text" %>
  </div>
  
  <div>
    <%= link_to "cancel", users_path %>
    <%= f.submit "Save" %>
  </div>
  
<% end %>
