<%= form_for user do |f| %>
  <% @user.errors.full_messages.each do |error| %>
    <%= error %><br>
  <% end %>

  <div>
    <%= f.label :email %><br />
    <%= f.text_field :email, :class => "email text" %>
  </div>

  <div>
    <%= f.label :password %><br />
    <%= f.password_field :password, :class => "password text" %>
  </div>

  <div>
    <%= f.label :receive_notifications, "Send me an email when a new Hit is being tracked."%><br />
    <%= f.check_box :receive_notifications %>
  </div>

  <%= f.submit submit_action %>
<% end %>
