<nav>
  <div>
    <%= link_to "Hits", hits_path, :class => "title #{menu_is_selected('/hits')}" %>
    <%= link_to "+", new_hit_path, :class => "new" %>
  </div>
  <div class="media">
    <%= link_to "Media", media_path, :class => "title #{menu_is_selected('/media')}" %>
    <%= link_to "+", "#", :class => "new" %>
    <div class="new-menu">
      <div class="tip-border"></div>
      <div class="tip"></div>
      <%= link_to "Add Reporter", new_reporter_path %>
      <%= link_to "Add Media Outlet", new_media_outlet_path %>
    </div>
  </div>
  <div>
    <%= link_to "Press Releases", press_releases_path, :class => "title #{menu_is_selected('/press_releases')}" %>
    <%= link_to "+", new_press_release_path, :class => "new" %>
  </div>
  <div>
    <%= link_to "Locations", locations_path, :class => "title #{menu_is_selected('/locations')}" %>
    <%= link_to "+", new_chapter_path, :class => "new" %>
  </div>
  <div class="users <%= "non-admin" unless current_user.admin? %>">
    <%= link_to "Users", users_path, :class => "title #{menu_is_selected('/users')}" %>
    <%= link_to "+", new_user_path, :class => "new" %>
  </div>
</nav>
