<p>A new media hit has been created:</p>

<table border="0">
  <tr>
    <td>Name:</td>
    <td><%= @hit.title %></td>
  </tr>
  <tr>
    <td>Created By:</td>
    <td><%= @hit.user %></td>
  </tr>
  <tr>
    <td>Reported On: </td>
    <td><%= @hit.reported_on %></td>
  </tr>
  <tr>
    <td>Media Outlet: </td>
    <td><%= @hit.media_outlet.name %></td>
  </tr>

  <tr>
    <td>Reporter: </td>
    <td><%= @hit.reporter.name%></td>
  </tr>

  <tr>
    <td>Press Release: </td>
    <td><%= @hit.press_release.title %></td>
  </tr>

  <tr>
    <td>Chapter: </td>
    <td><%= @hit.chapter.name %></td>
  </tr>

  <tr>
    <td>Content: </td>
    <td><%= @hit.content %></td>
  </tr>

  <tr>
    <td>Tone: </td>
    <td><%= @hit.tone %></td>
  </tr>

  <tr>
    <td>Notes: </td>
    <td><%= @hit.notes %></td>
  </tr>
</table>

<div id="name">
  To view this media hit, visit:
  <%= hit_url(@hit.id) %>
</div>
