<div class="location_filter">
  <%= form_for :media do |f| %>
    <%= text_field_tag :start_date, @start_date.strftime("%Y-%m-%d"), :class => "datetime" %>
    <%= text_field_tag :end_date, @end_date.strftime("%Y-%m-%d"), :class => "datetime" %>
    <%= f.submit "Filter" %>
  <% end %>
</div>

<table class="reporters">
  <thead>
    <th class="title">Reporter</th>
    <th class="hits">Hits</th>
  </thead>
  <tbody>
    <% @reporters.each do |reporter| %>
    <tr class="<%= cycle :even, :odd %>">
      <td><%= link_to reporter.name, reporter %></td>
      <td class="hits"><%= reporter.hits.during(@date_range).count %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<% reset_cycle %>

<table class="media_outlets">
  <thead>
    <th class="title">Media Outlet</th>
    <th class="hits">Hits</th>
  </thead>
  <tbody>
    <% @media_outlets.each do |media_outlet| %>
    <tr class="<%= cycle :even, :odd %>">
      <td><%= link_to media_outlet.name, media_outlet %> </td>
      <td class="hits"><%= media_outlet.hits.during(@date_range).count %></td>
    </tr>
    <% end %>
  </tbody>
</table>
