<h3>Reporters</h3>

<table class="reporters">
  <thead>
    <th class="title">Name</th>
    <th class="released_on">Released On</th>
  </thead>
  <tbody>
    <tr class="filters">
      <td class="title"><%= text_field_tag :title, nil, :placeholder => "All Press Releases" %></td>
      <td class="released_on">
        <%= text_field_tag :start_on, PressRelease.earliest.released_on.to_s(:db), :class => "start_on" %> -
        <%= text_field_tag :end_on, PressRelease.latest.released_on.to_s(:db), :class => "end_on" %>
      </td>
    </tr>
    <% @reporters.each do |reporter| %>
    <tr class="<%= cycle :even, :odd %>">
      <td><%= link_to reporter.name, edit_reporter_path(reporter) %></td>
      <td><%= reporter.hits.count %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<% reset_cycle %>

<h3>Outlets</h3>

<table class="media_outlets">
  <thead>
    <th class="title">Name</th>
    <th class="released_on">Released On</th>
  </thead>
  <tbody>
    <tr class="filters">
      <td class="title"><%= text_field_tag :title, nil, :placeholder => "All Press Releases" %></td>
      <td class="released_on">
        <%= text_field_tag :start_on, PressRelease.earliest.released_on.to_s(:db), :class => "start_on" %> -
        <%= text_field_tag :end_on, PressRelease.latest.released_on.to_s(:db), :class => "end_on" %>
      </td>
    </tr>
    <% @media_outlets.each do |media_outlet| %>
    <tr class="<%= cycle :even, :odd %>">
      <td><%= link_to media_outlet.name, edit_media_outlet_path(media_outlet) %></td>
      <td><%= media_outlet.hits.count %></td>
    </tr>
    <% end %>
  </tbody>
</table>
