Media INDEX!

<div>
  <%= form_for :media do |f| %>

    <span>Time :</span>
    <%= f.text_field :start_time, :class => "datetime" %>
    <%= f.text_field :end_time, :class => "datetime" %>

    <%= f.submit, "Search" %>
  <% end %>
</div>

<h3>Reporters</h3>
  <%= link_to "New Reporter", new_reporter_path %>
<ul class="reporters">


  <% @reporters.each do |reporter| %>
    <li>
      <span class="name"><%= link_to reporter.name, edit_reporter_path(reporter) %></span>
      <span class="count"><%= reporter.hits.count %></span>
      <span class="button"><a href="arrow">=></a></span>
    </li>
  <% end %>
</ul>

<h3>Outlets</h3>
  <%= link_to "New Media Outlet", new_media_outlet_path %>
<ul class="media_outlets">
  <% @media_outlets.each do |media_outlet| %>
    <li>
      <span class="name"><%= link_to media_outlet.name, edit_media_outlet_path(media_outlet) %></span>
      <span class="count"><%= media_outlet.hits.count %></span>
      <span class="button"><a href="arrow">=></a></span>
    </li>
  <% end %>
</ul>