<%= form_for chapter, :html => { :class => "chapter" } do |f| %>
  <% if chapter.new_record? %>
    <h2>Add a Chapter</h2>
  <% else %>
    <% if current_user.admin? %>
      <%= link_to "Delete this Chapter", chapter, :method => "delete", :confirm => "Are you sure?", :class => "delete" %>
    <% end %>
    <h2>Edit this Chapter</h2>
  <% end %>

  <div class="errors">
    <%= chapter.errors.full_messages if chapter.errors.any? %>
  </div>
  
  <%= f.hidden_field :region_id %>
  
  <div class="name">
    <%= f.label :name %>
    <%= f.text_field :name, :class => "title" %>
  </div>
  
  <div class="actions">
    <%= f.submit "Save" %>
  </div>
<% end %>