<%= form_for chapter, :html => { :class => "chapter" } do |f| %>
  <h2>Add a Chapter</h2>

  <div class="errors">
    <%= chapter.errors.full_messages if chapter.errors.any? %>
  </div>
  
  <%= f.hidden_field :region_id %>
  
  <div class="name">
    <%= f.label :name %>
    <%= f.text_field :name, :class => "title" %>
  </div>
  
  <div class="actions">
    <%= f.submit "Save" %>
  </div>
<% end %>