<%= form_for media_outlet, :html => { :class => "media_outlet" } do |f| %>
  <% if media_outlet.new_record? %>
    <h2>Add a Media Outlet</h2>
  <% else %>
    <h2>Edit this Media Outlet</h2>
  <% end %>

  <div class="errors">
    <%= media_outlet.errors.full_messages if media_outlet.errors.any? %>
  </div>
  
  <%= f.hidden_field :user_id, :value => current_user.id %>
  
  <div class="name">
    <%= f.label :name %>
    <%= f.text_field :name, :class => "title" %>
  </div>
  
  <div class="media_type">
    <%= f.label :media_type %>
    <%= f.text_field :media_type, :class => "title" %>
  </div>
  
  <div class="contact_name">
    <%= f.label :contact_name %>
    <%= f.text_field :contact_name, :class => "title" %>
  </div>
  
  <div class="contact_phone">
    <%= f.label :contact_phone %>
    <%= f.text_field :contact_phone, :class => "title" %>
  </div>
  
  <div class="actions">
    <%= f.submit "Save" %>
  </div>
<% end %>