<h3><strong><%= @media_outlet.name %></strong></h3>
<%= link_to "Edit this Media Outlet", edit_media_outlet_path(@media_outlet) %>

<br />
<ul>
  <li>Media Type : <%= @media_outlet.media_type %></li>
  <li>Contact Name : <%= @media_outlet.contact_name %></li>
  <li>Contact Phone : <%= @media_outlet.contact_phone %></li>
</ul>

