Location INDEX!

<div>
  <% form_for :locations do |f| %>

    <span>Time :</span>
    <%= f.text_field :start_time %>
  
    <%= f.label :end_time %>
    <%= f.text_field :end_time %>
  
    <%= f.submit %>
  <% end %>
</div>

<div class="regions">
  <% @regions.each do |region| %>
    <div class="region">
      <h3>
        Region <span class="number"><%= region.hits.during(@date_range).count %></span>
      </h3>
      <ul>
        <% region.chapters.each do |chapter| %>
        <li><%= chapter.name %><%= chapter.hits.during(@date_range).count %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>

  