<div class="location_filter">
  <%= form_for :locations do |f| %>
    <h2>Filter Hits Reported On</h2>
    <%= text_field_tag :start_date, @start_date.strftime("%Y-%m-%d"), :class => "datetime" %>
    <%= text_field_tag :end_date, @end_date.strftime("%Y-%m-%d"), :class => "datetime" %>
    <%= f.submit "Search" %>
  <% end %>
</div>

<table class="locations">
  <thead>
    <tr>
      <th class="name">Location</th>
      <th class="count">Hits</th>
    </tr>
  </thead>
  <tbody>
    <% @regions.each do |region| %>
    <tr class="region">
      <td class="name"><%= region.name %></td>
      <td class="count"><%= region.hits.during(@date_range).count %></td>
    </tr>
    <% region.chapters.each do |chapter| %>
    <tr class="chapter <%= cycle :even, :odd %>">
      <td class="name"><%= link_to chapter.name, chapter_path(chapter) %> (<%= link_to "edit", edit_chapter_path(chapter) %>)</td>
      <td class="count"><%= chapter.hits.during(@date_range).count %></td>
    </tr>
    <% end %>
    <% end %>
  </tbody>
</table>