<table class="locations">
  <thead>
    <tr>
      <th class="location">Locations</th>
      <th class="hits" colspan="2">Hits</th>
    </tr>
  </thead>
  <tbody>
    <%= form_for :locations do |f| %>
    <tr class="filters">
      <td>&nbsp;</td>
      <td class="start_date"><%= f.text_field :start_time, :class => "datetime" %></td>
      <td class="end_date"><%= f.text_field :end_time, :class => "datetime" %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<table class="locations">
  <tbody>
    <% @regions.each do |region| %>
    <tr class="region">
      <td class="name"><%= region.name %></td>
      <td class="count"><%= region.hits.during(@date_range).count %></td>
    </tr>
    <% region.chapters.each do |chapter| %>
    <tr class="chapter <%= cycle :even, :odd %>">
      <td class="name"><%= link_to chapter.name, edit_chapter_path(chapter) %></td>
      <td class="count"><%= chapter.hits.during(@date_range).count %></td>
    </tr>
    <% end %>
    <% end %>
  </tbody>
</table>