Location INDEX!

<div>
  <%= form_for :locations do |f| %>

    <span>Time :</span>
    <%= f.text_field :start_time, :class => "datetime" %>
    <%= f.text_field :end_time, :class => "datetime" %>

    <%= f.submit, "Search" %>
  <% end %>
</div>

<div class="regions">
  <% @regions.each do |region| %>
    <div class="region">
      <h3>
        <%= region.name %> <span class="number"><%= region.hits.during(@date_range).count %></span>
      </h3>
      <ul>
        <% region.chapters.each do |chapter| %>
        <li><%= chapter.name %> <%= chapter.hits.during(@date_range).count %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>

