<!DOCTYPE html>
<html>
<head>
  <title>Media Hit Tracker</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller_name %> <%= action_name %>">
  <div class="container">
    <header>
      <%= link_to image_tag("logo.gif", :class => "logo"), root_path %>
      <h1>Media Hit Tracker</h1>
      <p><%= link_to "Sign Out", destroy_user_session_path, :method => "delete" %> | <a href="#">Profile</a></p>
    </header>
    
    <% if current_user %>
      <%= render :partial => "shared/navigation" %>
    <% end %>
    
    <% if notice.present? %>
      <p class="notice"><%= notice %></p>
    <% end %>
    <% if alert.present? %>      
      <p class="alert"><strong>Alert:</strong> <%= alert %></p>
    <% end %>
    
    <%= yield %>
  </div>
</body>
</html>
