<!DOCTYPE html>
<html>
<head>
  <title>HitTracker</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= image_tag "logo.gif" %>
  <div class="container">
    <nav>
      <div>
        <%= link_to "Hits", hits_path, :class => "title" %>
        <%= link_to "+", new_hit_path, :class => "new" %>
      </div>
      <div>
        <%= link_to "Media", media_path, :class => "title" %>
        <%= link_to "+", new_hit_path, :class => "new" %>
      </div>
      <div>
        <%= link_to "Releases", press_releases_path, :class => "title" %>
        <%= link_to "+", new_press_release_path, :class => "new" %>
      </div>
      <div>
        <%= link_to "Location", locations_path, :class => "title" %>
        <%= link_to "+", new_chapter_path, :class => "new" %>
      </div>
      <div>
        <%= link_to "Users", users_path, :class => "title" %>
        <%= link_to "+", new_user_path, :class => "new" %>
      </div>
    </nav>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>
  </div>
</body>
</html>
