<!DOCTYPE html>
<html>
<head>
  <title>Media Hit Tracker</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <header>
      <%= link_to image_tag("logo.gif", :class => "logo"), root_path %>
      <h1>Media Hit Tracker</h1>
    </header>
    
    <% if current_user %>
    <%= render :partial => "navigation" %>
    <% end %>
    
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </div>
</body>
</html>
