<!DOCTYPE html>
<html>
<head>
  <title>Media Hit Tracker</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <%= link_to image_tag("logo.gif", :class => "logo"), root_path %>
    <h1>Media Hit Tracker</h1>

    <nav>
      <div>
        <%= link_to "Hits", hits_path, :class => "title #{menu_is_selected('/hits')}" %>
        <%= link_to "+", new_hit_path, :class => "new" %>
      </div>
      <div>
        <%= link_to "Media", media_path, :class => "title #{menu_is_selected('/media')}" %>
        <%= link_to "+", new_press_release_path, :class => "new" %>
      </div>
      <div>
        <%= link_to "Press Releases", press_releases_path, :class => "title selected" %>
        <%= link_to "+", new_press_release_path, :class => "new" %>
      </div>
      <div>
        <%= link_to "Locations", locations_path, :class => "title #{menu_is_selected('/locations')}" %>
        <%= link_to "+", new_chapter_path, :class => "new" %>
      </div>
      <div>
        <%= link_to "Users", users_path, :class => "title #{menu_is_selected('/users')}" %>
        <%= link_to "+", new_user_path, :class => "new" %>
      </div>
    </nav>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>
  </div>
</body>
</html>
